.col, .row{
    margin:0;
    padding:0;
}
.row:first-child{
    text-align: center;
}
.singleproductcart{
    width:100%;
    height: 100%;
    
}
.imgcontainercart{
    width: 20vh;
    height: 20vh;
}


.list-group-item{

    width:100%;
    height: 100%;
}
.objects{
    padding-top:100px;
    padding-bottom: 50px;

}

.sum p{
    padding-top: 30px;
    font-size:20px;
}

@media screen and (max-width: 768px){
    .row{
    text-align: center;
     display: block;   
   }

   .imgcontainercart {
    margin:0 auto;
    display:block;
  
}
}