.Brands {

    max-width: 90%;   
    overflow: hidden;
    padding-top: 70px;
    padding-bottom: 100px;
    opacity: 0.75;
   
    

}

.BrandCol img{
  
  width:150px;
  height:120px;
  padding-right: 0px 20px 0px 30px;
 

}

.BrandCol:last-child{
    padding-left: 50px;
    opacity: 0.5;
}

@media (max-width:768px){
    .Brands{
        display:none;
    }
}