
.Brands {   
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  text-align: center;

}

.Brandsflex{

  width: 100%;
  padding-top: 20vh;
  padding-bottom: 10vh;
  opacity: 0.75;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap-reverse;

}

.Brandsflex img {
  width: 20vh;
  height: 20vh;
}


img:hover{
    opacity:0.4;
  }


  @media screen and (max-width: 960px){
    .Brandsflex .BrandCol {
      flex: 33.33%;
      
    }
   
  }
  @media screen and (max-width: 1000px){
    .Brandsflex .BrandCol {
      flex: 33.33%;
      
    }
   
  }
  
  @media screen and (max-width: 768px){
    .Brandsflex .BrandCol{
      flex: 50%;   
    }
   
  }
  
  @media screen and (max-width: 480px){
    .Brandsflex .BrandCol{
      flex: 100%;
  
    }
   
  }