.Brands {

    max-width: 90%;   
    overflow: hidden;
    padding-top: 10vh;
    padding-bottom: 10vh;
    opacity: 0.75;
   
    

}

.BrandCol img{
  
  width:15vh;
  height:12vh;
  padding-right: 0px 20px 0px 30px;
 

}

.BrandCol:last-child{
    padding-left: 50px;
    opacity: 0.5;
}

@media (max-width:768px){
    .Brands{
        display:none;
    }
}