.mw100{
    top:0;
    max-width: 100%;
    padding: 0px;
    margin: 0px;
    height: 100vh;
    overflow: hidden;
   
    
}

.imageMax {
    max-width: 100%;
    min-width: 100%;
    min-height: 100%;
    max-height: 100%;
    overflow: hidden;
    opacity: 0.85;
    
    transform: scale(1.2,1.2);
    transition-timing-function: ease-out;
    transition-duration: 200ms;
    -webkit-transform: scale(1.2,1.2);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 200ms;
    -moz-transform: scale(1.2,1.2);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 200ms;
       
}



.imageMax:hover{

    transform: scale(1,1);
    transition-timing-function: ease-out;
    transition-duration: 200ms;
    -webkit-transform: scale(1,1);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 200ms;
    -moz-transform: scale(1,1);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 200ms;
    position: relative;

    
    
}

@media (max-width:768px){
    .mw100,.imageMax{
        display:none;
    }
}

