.toolbar{
    position:fixed;
    width: 100%;
    top:0;
    left:0;
    background: transparent;
    height: 58px;
    z-index: 200;
    
}
.toolbar:hover{
    background: rgb(65, 65, 65);
    transition: all 0.3s linear .1s;
    
}

.toolbar_nav{
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 2rem;
}


.toolbar_logo a{
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

.toolbar_nav-items ul, .toolbar_nav-items-right ul{

    list-style: none;
    margin:0;
    padding: 0;
    display: flex;

}

.toolbar_nav-items li{

    float: right;
    padding: 0 0.6rem;
    margin: 0 1rem
    
}

.toolbar_nav-items a:hover, .toolbar_nav-items-right a:hover{
    color: beige;
    text-decoration: none;
}

.toolbar_nav-items a, .toolbar_nav-items-right a{
color: white;
text-decoration: none;
text-transform: uppercase;

}

.toolbar_nav-items-right li {
    padding: 0 0.6rem;
    margin: 0 0.1rem;
}

.search {
    top: 50%;
    left: 50%;
  }


@media (max-width:768px){
    .toolbar_nav-items, .toolbar_nav-items-right li:nth-child(2), .search {
        display: none;
    }
}


@media (min-width: 769px){
    .toolbar_button{
        display: none;
    }
    .toolbar_logo{
        margin-left: 0;
    }
}
@media (max-width:768px){
.toolbar{
    background: rgb(65, 65, 65);
}

}