.toolbar {
    position: fixed;
    min-width:100%;
    max-width: 100%;
    top: 0;
    left: 0;
    background: rgb(65, 65, 65);
    height: 58px;
    z-index: 200;
    padding:0;
    margin:0;
}

.cartit li{ 
    padding: 0px !important;
    
}
sup{
    color: white;
    background-color: rgb(148, 197, 167);
    border-radius: 100px;
    padding:4px;

}

.toolbar_nav {
    width:100%;
    display: flex;
    align-items: center;
    height: 100%;
    
}
.toolbar_button{
    align-self: normal;
    padding-left: 20px;
    
}
.toolbar_nav-items-right{
    padding-right: 10px;
}

.toolbar_nav-items ul, .toolbar_nav-items-right ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    color: white;
}

.toolbar_nav-items li {
    float: right;
    padding: 0 0.6rem;
    margin: 0 1rem
}

.toolbar_nav-items a:hover, .toolbar_nav-items-right a:hover {
    color: beige;
    text-decoration: none;
    
}

.toolbar_nav-items a, .toolbar_nav-items-right a, ul#dropdown li {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

.toolbar_nav-items-right li {
    padding: 0 0.6rem;
    margin: 0 0.1rem;
}
.dropdown{
    cursor: pointer;
}
.dropdown li {
    list-style-type: none;
    float: left;
    background: rgb(65, 65, 65);
}

.dropdown a {
    display: block;
    padding: 8pt;
    text-decoration: none;
}

.dropdown ul {
    overflow: hidden;
    max-height: 0;
    width: 0;
}

.dropdown li:hover ul {
    position: absolute;
    background: rgb(65, 65, 65);
    display: block;
    width: 200px;
    max-height: 500px;
    transition: max-height 0.30s ease-in;
    border-radius: 5px;
   
}

@media (max-width:768px) {
    .toolbar_nav-items {
        display: none;
    }
}

@media (min-width: 769px) {
    .toolbar_button {
        display: none;
    }
}


