.toolbar{
    position:fixed;
    width: 100%;
    top:0;
    left:0;
    background: rgb(65, 65, 65);
    height: 58px;
    z-index: 200;

    
}



.toolbar_nav{
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 2rem;
}



.toolbar_nav-items ul, .toolbar_nav-items-right ul{

    list-style: none;
    margin:0;
    padding: 0;
    display: flex;
    color: white;

}

.toolbar_nav-items li{

    float: right;
    padding: 0 0.6rem;
    margin: 0 1rem
    
}

.toolbar_nav-items a:hover, .toolbar_nav-items-right a:hover{
    color: beige;
    text-decoration: none;
}

.toolbar_nav-items a, .toolbar_nav-items-right a, ul#dropdown li{
color: white;
text-decoration: none;
text-transform: uppercase;

}

.toolbar_nav-items-right li {
    padding: 0 0.6rem;
    margin: 0 0.1rem;
}



.dropdown li {
    
    list-style-type: none;
    float: left;
    background: rgb(65, 65, 65);
    
}




.dropdown a {
    display : block;
    padding : 8pt;
    text-decoration : none;
    
}


.dropdown ul {
    overflow: hidden;    
    max-height: 0;
    width: 0;     
}

.dropdown li:hover ul {
    position: absolute;
    background: rgb(65, 65, 65);
    display: block;
    width: 160px;    
    max-height: 200px;
    transition: max-height 0.30s ease-in;
    border-radius: 5px;
    
}




@media (max-width:768px){
    .toolbar_nav-items, .toolbar_nav-items-right li:nth-child(2), .search {
        display: none;
    }
}


@media (min-width: 769px){
    .toolbar_button{
        display: none;
    }
    .toolbar_logo{
        margin-left: 0;
    }
}
@media (max-width:768px){
.toolbar{
    background: rgb(65, 65, 65);
}

}