.side_drawer{
    height: 100%;
    background: rgb(53, 53, 53);
    position:fixed;
    top: 0;
    left: 0;
    width:70%;
    max-width:400px;
    z-index: 200;
    transform:translateX(-100%);
    transition: transform 0.3s ease-in-out;
    text-align: left;
    text-decoration: none;
    font-size: 1.2rem;
}

.side_drawer ul{
    height: 100%;
    width: 100%;
    list-style: none;
    display:flex;
    flex-direction: column;
    justify-content: center;   

}



.side_drawer a{
    color: rgb(214, 214, 214);
    padding-left: 5vh; 
}
.side_drawer li{
    padding-bottom: 5vh;
}


.side_drawer a:hover,
.side_drawer a:active{
    color:rgb(97, 97, 97);
    text-decoration: none;
}

.side_drawer.open{
transform:translateX(0);

}

.reverse{
    background: rgb(214, 214, 214);
}

.reverse a{
    color: rgb(58, 58, 58);
    padding-left:3px;
}

.reverse li{
    padding-top: 3vh;
    border-bottom: 1px solid #a7a7a7;   
}

@media (min-width: 769px){
    .side_drawer {
        display:none;
        
    }

}    




