.Promo{
    
    max-width: 100%;   
    min-width: 100%;
    min-height: 100%;
    max-height: 100%;
    overflow: hidden;
    padding-top: 10vh;
    font-size: 14px;
    

}

.PromoCol{
   
    overflow: hidden;    
    opacity: 0.85;
    text-align: center;
    border-right: 1px solid #e6e6e6;
    
}

 .PromoCol h4{
     padding: 5vh;
     padding-top: 5vh;
 }

 
@media (max-width:768px){
    .Promo{
        display:none;
    }
}