
.Promo{
    
    display: flex;
    flex-wrap: wrap-reverse;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    overflow: hidden;
    padding-top: 10vh;
    font-size: 16px;
    text-align: center;
    

}

.Promoflex {
    width: 100%;    
    overflow: hidden;
    display: flex;
    flex-wrap: wrap-reverse;
    
}
.PromoCol{
    width: 100%;
    opacity: 0.85;
    border-right: 1px solid #e6e6e6;    
}

.PromoCol svg, .PromoCol h4{
    color: rgb(62, 102, 62);
}

 .PromoCol h4{
     padding: 5vh;
     padding-top: 5vh;
 }

 @media screen and (max-width: 1000px){
    .Promoflex .PromoCol {
        flex: 50%;      
    }

    .PromoCol {
        padding: 4vh;
        border-bottom: 1px solid #e6e6e6;
    }
    .PromoCol h4 {
        padding: 3vh;
    }
  }

 @media screen and (max-width: 960px){
    .Promoflex .PromoCol {
        flex: 50%;
              
    }
    .PromoCol {
        padding: 4vh;
        border-bottom: 1px solid #e6e6e6;
    }
    .PromoCol h4 {
        padding: 3vh;
    }
   
  }
  
  
  @media screen and (max-width: 527px){
    .Promoflex .PromoCol{
        flex: 100%;
  
    }
    .PromoCol {
        padding: 4vh;
        border-bottom: 1px solid #e6e6e6;
    }
   
    .PromoCol h4 {
        padding: 0;
    }
  }