.IgSldr{

    top:0;
    min-width: 100%;
    max-width: 100%;   
    overflow: hidden;
    opacity: 0.9;
    padding: 0px;

}


.IgCol img{

    width:  36vh;    
    height: 34vh;       
}

.followus h1{
  color: black;           
}

@media (max-width:993px){
    .IgSldr{
        display:none;
    }
}