.IgSldr{

    top:0;
    min-width: 100%;
    max-width: 100%;   
    overflow: hidden;
    opacity: 0.9;
    padding: 0px;

}

.IgCol img{

    width:  40vh;    
    height: 33vh;
    overflow: hidden;
    
}

.IgSldr h1{
    z-index: 1;
    
    position: absolute;
    color: transparent;
    -webkit-text-stroke-width: 1.2px;
    -webkit-text-stroke-color: #fff;
     font-size: 3rem;
     line-height: 3.75rem;
 
     -webkit-transition: font-size 500ms;
        -moz-transition: font-size 500ms;
          -o-transition: font-size 500ms;
             transition: font-size 500ms;
             
}

@media (max-width:993px){
    .IgSldr{
        display:none;
    }
}