.Footer-items{ 
    max-width: 100%; 
    min-width: 100%; 
    background-color: rgb(65, 65, 65);
    overflow: hidden;
    padding: 0px; 
    font-size: 16px;
    text-align: center;
    color: rgb(185, 185, 185);
   
}

.FooterFlex{
    padding:20px;  
    width:100%;   
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
}

.FtCol{
    
    width:100%;
    
}

p.logo {
    
    color: transparent;
    -webkit-text-stroke-width: 1.2px;
    -webkit-text-stroke-color: rgb(255, 241, 223);
     font-size: 2rem;
    
}


#media {
    padding-right: 10px;
    color: rgb(148, 197, 167);
}

p.aboutitems{
    font-size: 18px;

}
.about{
    padding: 20px;
}

.ftitem-top{
    font-size: 1.5rem;
    color: rgb(235, 235, 235);
    padding-top: 2vh;
}

.ftitem-bottom{
    color: rgb(148, 197, 167);
    padding-bottom: 0;
}

@media screen and (max-width: 960px){
    .FooterFlex .FtCol {
        flex: 50%;      
    }
    .FtCol:nth-child(2){
        display:none;
    }
}

@media screen and (max-width: 768px){
    .FooterFlex .FtCol {
        flex: 50%;      
    }
    .FtCol:nth-child(2){
        display:none;
    }
}
@media screen and (max-width: 527px){
    .FooterFlex .FtCol {
        flex: 100%;      
    }

    .FtCol:nth-child(2){
        display:none;
    }
}