/* * {
margin: 0;
padding: 0;
box-sizing: border-box;
}

nav {
  background-color: white;
}

ul{

  display: flex;
  list-style-type: none;
}

li{
  flex-grow: 1;
}

a{
  display: block;
  text-align: center;
  padding: 15px 25px;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
}

a:hover{
  color: #50d691;
}

section {
  padding-top: 30px;
  text-align: center;
}
 */
