.all{
    padding-top: 20vh;
    background-size: cover;
    background-position-y: -30vh;    
    opacity: 0.6;
    height: 100vh;
    color: white;
    
}
form {
    padding-top: 20%;
    margin: 20px;
    background: black;
    opacity: 0.8;
    height: 70vh;
    border-radius: 20px;
}

label {
    display: block;
    text-align: center;
    
}


input {
    margin-left: 20px;
    margin-top: 20px;
    
}

input[type="checkbox"]{
    margin-left: 0;
    margin-right: 10px;
}


button{

    display: block;
    border-radius: 40px;
    max-width: 150px;
    padding: 15px 15px;
    margin-top: 20px;     
    position:relative;
    left:50%;
}

span {
    color: red;
    font-size: 10px;
    display: block;

}